.hidden-content {
    opacity: 0; /* Initially hide the content */
    transform: translateY(20px); /* Optionally, you can add a vertical offset for animation */
    transition: opacity 0.5s, transform 0.5s; /* Add transition for smooth reveal */
}
.revealed {
    opacity: 1; /* Reveal the content */
    transform: translateY(0); /* Reset the vertical offset */
}  

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: #141419;   
}  

.body.active{
    height: 100vh;
    overflow: hidden;
}

.forscroll {
    width: 100%;
    height: 30px;
    background: #fff;
    position: fixed;
    bottom: 0;
}
.index-body {
    position: relative;
    width: 1440px; 
    margin: 0 auto;
    top: -18px;
}
.container {
    /* background: #1E1E28;  */
    background: #1b1b22;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    position: absolute;
    margin: 0 auto; 
    display: flex;  
    width: 1440px;
} 
.info-sidebar-wrapper {
    max-width: 290px;
    width: 100%;
    height: 100vh;
    /* background: #20202A;  */
    background-color: #1a1a24;
    position: fixed;
    transition: 0.5s;
    z-index: 1001;
    top: 0;
    filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.16));
}
.main-body-wrapper {
    width: 1090px;
    margin: 0 0 0 auto;
    padding: 0 30px; 
    background: url(../images/bg.png);
    background-repeat: no-repeat;
    position: relative;
}
body::-webkit-scrollbar, .wrapper2::-webkit-scrollbar {
    display: none;
}
.main-body-wrapper {
    -ms-overflow-style: none;
}
.main-body-wrapper {
    scrollbar-width: none;
}

.toggle {
    position: absolute;
    top: 0;
    left: 230px;
    width: 60px;
    height: 60px; 
    justify-content: center;
    align-items: center;
    z-index: 1002;
    transition: 0.6s;
    display: none;
    cursor: pointer;
}

.info-sidebar-wrapper.active {
    left: 0;
}
.toggle.active {
    left: 230px;
    transition: 0.5s;
}




/* nav bar */
nav.nav-bar {
    list-style: none; 
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    line-height: normal; 
    letter-spacing: 0.3px;
    transition: 0.5s;
    z-index: 1003;
    height: 100vh;
    width: 250px;
    text-align: center;
    right: 0;
    position: fixed;
    background: var(--box-color);
    margin: 0;
    padding: 75px 0 0;
    right: -250px; 
}

nav.nav-bar li {
    margin: 0 0 30px;
    font-size: 17px;
}

li.nav-list a {
    text-decoration: none;
    color: #fff;
}  

li.nav-list a:hover { 
    color: var(--primary-color);
}

.toggle-nav {
    position: fixed;
    right: 20px;
    top: 16px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--box-color);
    z-index: 1004;
    border-radius: 3px;
}

.toggle-nav::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}

.toggle-nav::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}

.toggle-nav.active::before {
    transform: translateY(0px) rotate(45deg);
}

.toggle-nav.active::after {
    transform: translateY(0px) rotate(-45deg);
}

.nav-bar.active {
    right: 0;
}

.overlay.active {
    display: block;
}
 
.overlay2.active {
    display: block;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1002;
}

.overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1000;
}



/* sidebar */
.profile-name { 
    margin: 13px 0 0; 
}
.profile-img img {
    width: 105px;
    border-radius: 100px;
}
p.position {
    font-family: poppins;
    font-size: 14px;
    margin: 10px 0 0;
    line-height: 28px;
}
.wrapper.profile-wrapper { 
    padding: 26px 43px;
    background: #1d1d27; 
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.36);
    text-align: center;
}

.wrapper.profile-wrapper p.poppins-14 {
    margin-bottom: 0;
    color: var(--font-color-paragraph);
}

.wrapper2 {
    padding: 18px 20px;
    height: 64%;
    overflow: scroll;
}

.basic-info {
    border-bottom: 1px solid #6B6B6B;
    padding-bottom: 24px; 
}

.basic-info .poppins-13 {
    color: var(--font-color-paragraph);
    display: flex;
}

.basic-info p {
    position: relative;
} 

.location:before {
    content: '';
    background: url(../icons/Location.png);
    width: 13px;
    height: 13px;
    display: block;
    margin: 6px 8px 0 0;
    background-repeat: no-repeat;
}

.number:before {
    content: '';
    background: url(../icons/Phone.png);
    width: 13px;
    height: 13px;
    display: block;
    margin: 6px 8px 0 0;
    background-repeat: no-repeat;
}

.number a, .email a {
    color: var(--font-color-paragraph);
    text-decoration: none;
}

.number a:hover, .email a:hover { 
    text-decoration: underline;
}

.email:before {
    content: '';
    background: url(../icons/Letter.png);
    width: 13px;
    height: 13px;
    display: block;
    margin: 6px 8px 0 0;
    background-repeat: no-repeat;
}

p.poppins-13.email {
    margin-bottom: 0;
}

.progress-bar {
    display: flex;
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #6B6B6B;
}

.circular-progress-bar {
    display: flex;
    width: fit-content;
    margin: 0 auto;
} 

 
.view-cv {
    background-color: var(--box-color); 
    padding: 9px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 1px -3px 16px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 1px -3px 16px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 1px -3px 16px 0px rgba(0,0,0,0.26);
}
.view-cv a {
    color: #fff;
    text-decoration: none;
    width: fit-content;
    display: block;
    margin: 0 auto;
}
.view-cv a:hover {
    color: var(--primary-color);
}


/************ MAIN BODY ****************/

/* HERO STYLE */
.hero-wrapper {
    max-width: 1090px;
    background-color: #1E1E28;
    margin-top: 50px;
    background-image: url(../images/background35.png);
    position: relative;
    padding: 56px 53px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.24);
}

.hero-wrapper:before {
    content: '';
    /* background: #191923; */
    background: #141419;
    width: 90%;
    height: 24px;
    display: block;
    top: -24px;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.24);
}

span.first-text {
    color: #FFF;
    font-family: 'Courier Prime', monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.typing-text {
    display: inline-block;
}
span.cursor-wrapper {
    position: relative;
    margin-left: 1px;
}
.cursor {
    display: inline-block;
    width: 2px;
    height: 14px;
    background-color: #fff;
    animation: blinkCursor 0.7s infinite;
    position: absolute;
    top: 1px;
}



@keyframes blinkCursor {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

.code-text {
    color: var(--primary-color);
} 

.main-btn {
    display: flex;
    gap: 10px;
}

.cta-btn {
    width: fit-content;
    margin-top: 30px;
    padding: 10px 0;
    background-color: var(--primary-color);
}

.cta-btn.aos-init.aos-animate {
    margin: 50px auto 30px;
}

a.cta-main {
    color: #202020;
    text-decoration: none;
    letter-spacing: 2.52px;
    padding: 14px 30px;
    transition: 1s;
}

.cta-btn.second {
    background-color: transparent;  
}

.cta-btn.second a.cta-main {
    color: #fff;
}

.cta-btn:hover {
    background: linear-gradient(275deg, #FF9501 0%, #fdc87c 102.05%);
    transition: 1s;
} 

.cta-btn.second:hover {
    opacity: 0.5; 
    background: transparent;
} 

.main-image {
    position: absolute;
    bottom: -4px;
    background: url(../img/main-image.png);
    background-size: contain;
    width: 400px;
    height: 420px;
    right: 10px;
    background-repeat: no-repeat;
}


/* EXP STYLE */

.exp-wrap-desktop {
    display: flex;
}

.exp-wrap-mobile {
    display: none;
}

.exp-wrapper {
    margin-top: 28px;
    display: flex;
}

.exp-wrap-desktop {
    display: flex;
    width: 100%;
}

.exp-wrapper .poppins-16 { 
    width: fit-content;
    display: flex;
    align-items: center;
}

.exp-wrapper span {
    margin-right: 15px;
    color: var(--primary-color)
}

.exp-wrapper p {
    flex: 1;
    color: var(--font-color-paragraph);
}
